{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Q&A</title>
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'users/logo.gif' %}" alt="Logo">
        </div>
        <div class="user-info">
            <span>{{ user.username }}</span>
            <form action="{% url 'users:logout' %}" method="post" style="margin: 0; margin-left: 20px;">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>   
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% block body %}
    {% endblock %}
</body>
</html>